/* CSS Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Unlike content-box (default), border-box prevents the element’s total size from unexpectedly
expanding due to padding or borders. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAFAFA; /*background color */
    color: #1a1b1f;
}


/* Fonts Styles */
p {
    font-size: 1rem;
    line-height: 1.4;
    /* margin-bottom: 20px; */
}

.p-non-highlight {
    font-size: 1rem;
    line-height: 1.4;
    opacity: 80%;
}

h1 {
    font-family: 'Lato', sans-serif;  /* Set the font to Lato */
    font-size: 4rem;                  /* Set font size to 64px */
    font-weight: 400;                 /* Use a font weight of 400 */
    line-height: 1.2em;              /* Set line height to 1.2em, means 1.2*64 */
    color: #1a1b1f;                 /* Default color */
    /* margin-bottom: 20px; */             /* Add space below the heading */
}

h2 {
    font-family: 'Lato', sans-serif;  /* Set the font to Lato */
    font-size: 2rem;                  /* Set font size to 32px */        
    font-weight: 400;                 
    line-height: 1.2em;              
    color: #1a1b1f;                 /* Default color */
}

h3 {
    font-family: 'Lato', sans-serif;  /* Set the font to Lato */
    font-size: 1.5rem;                 /* Set font size to 24px */
    font-weight: 700;                 
    line-height: 1.2em;              
    color: #1a1b1f;                 /* Default color */
}

h4 {
    font-family: 'Lato', sans-serif;  /* Set the font to Lato */
    font-size: 1.25rem;               /* Set font size to 20px */  
    font-weight: 400;                 
    line-height: 1.2em;              
    color: #1a1b1f;                 /* Default color */
}


/* Label Style Class */
.label {
    font-family: 'Montserrat', sans-serif;  /* Use Montserrat font */
    font-size: 1rem;                        /* Default size of 16px */
    font-weight: 500;                       /* Regular Montserrat */
    color: inherit;                         /* Inherit color to ensure consistency with parent */
}


/* Centering content with a max width */
.container {
    max-width: 1200px;
    margin: 0 auto;    /* Center content on large screens */
    padding: 0 20px;   /* Add padding for smaller screens */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: #302850; /* Dark03 */
    color: #ccc;
}

.logo-link {
    text-decoration: none; /* removes underline */
    color:  inherit;        /* keeps original text color */
    display: block;        /* makes entire area clickable */
}

.logo-link:hover {
    color: #fff;
}


header .logo-title {
    /* color: #ccc; */
    display: flex;
    align-items: center;
}

header .logo-title img.logo {
    width: 24px;
    margin-right: 10px;
}


.navigation a {
    text-decoration: none;
    margin-left: 36px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position:relative;
    transition:all 0.3s ease;
    /* font-weight: 600; */
}



.navigation a.active {
    font-weight: 600;
    color: #fff;
}

.navigation a:hover {
    /* font-weight: 600; */
    color: #fff;
}

.navigation a:active {
    top:1px;
}


/* Hero Section */
.hero {
    padding: 50px 0;
}

.hero .container {
    max-width: 1152px;
    margin: 0 auto;    /* Center the container */
    padding: 0 20px;   /* Padding for smaller screens */
    text-align: left;  /* Left-align text inside the container */
}

.hero-content {
    max-width: 100%; /* Allow the content to take full width of the container */
    margin-bottom: 50px;
}

.hero-content h1 {
    color: #302850 ;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1rem;
    color: #888;
}

.shapes {
    display: flex;
    justify-content: center;
    gap: 33%;
    /* width: 100%; Ensure shapes take full width */
    margin-top: 80px;

    
}

.shape {
    position: relative;
    text-align: center;
}

/* Continuous Rotation */
@keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.shape img {
    width: 30dvw;
    max-width: 360px; /* Adjust size */
    animation: rotateImage 10s linear infinite;  /* Rotate continuously */
}

.shape span {
    position: absolute;
    width: 100%;
    bottom: -30px;
    left: 0;
    text-align: center;
    font-size: 0.9rem;
    /* color: #333; */
    font-family: 'Arial', sans-serif;
}

/* Project Gallery */
.gallery {
    padding: 64px 0;
}

/* Gallery Title */
.section-title {
    color: #302850;           /* Dark03 */
    margin-left: 4%;
    margin-bottom: 40px;      /* Add some space below the title */
    text-align: left;         /* Align title to the left */
}

.project {
    padding: 4%;
    margin-bottom: 60px;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth hover */
}

/* Remove underline from project card links */
.project-link {
    text-decoration: none;      /* Remove underline for the entire project card link */
    color: inherit;             /* Inherit color to keep the same text color as the original content */
}

.project-content {
    display: flex;
    align-items: flex-start;    /* Align items to the top */
    gap: 20px;                  /* Space between the text and image */
    flex-wrap: wrap;            /* Allow wrapping on smaller screens */
}

.text-content {
    flex: 1;
    padding-right: 20px;
}

.text-content h2 {
    margin-bottom: 20px;
    color: #1a1b1f;
}


.tag {
    display: inline-block;
    background-color: #352654;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.9rem;
    margin-right: 12px;
    margin-bottom: 16px;
}



.project-meta {
    display: flex;
    justify-content: space-between; /* Align date to the left and view more to the right */
    align-items: center;            /* Vertically center both items */
    /* color: #333; */
    gap: 24px; /* Increase spacing between stacked items */
    margin-top: 20px;               /* Add space above the date and view more */
    padding-right: 20px;            /* Add some padding to align the view more link */
    width: 100%;                    /* Ensure the meta takes the full card width */
}

.project-meta span {
    margin-left: 0;                 /* Ensure date aligns with the card */
}

.project-meta .view-more {
    text-decoration: none;
    color: #574b85;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
   /* border-bottom: 1px solid transparent;*/
}

/*.project-meta .view-more:hover {
    border-color: #f4702d;
}*/



/* Divider line */
.divider {
    border: none;
    border-bottom: 2px solid  #302850;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position:relative;
}

/* Image Content */
.image-content {
    /* flex: 1; */
    max-width: 500px;
    width: 100%;
    padding-bottom: 20px; 
    flex-shrink: 0;             /* Prevent the image from shrinking */
}

.image-content img {
    width: 100%;
    max-height: 400px;
/*    border-radius: 2px; */
    object-fit: cover;
    transition: transform 0.3s ease;
}



/* Hover Effect */
.project:hover {
    background-color: #201b350a;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    border-radius: 15px;
    border-bottom: none;
    border: 1px solid #ddd;
    */
}

.project:hover .image-content img {
    transform: scale(1.05);
}

.project:hover .view-more {
    color: #f4702d;
    /* font-weight: 600; */
}

.project:hover .divider {
    border-bottom: 2px solid #f4702d;
}

/* Playground */

.picture-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 0; /* No spacing between grid items */
    row-gap: 0; /* Ensure no spacing between rows */
    /* max-width: 1160px;  */
    padding: 4%;
    margin: 0 auto; /* Center the gallery */
    margin-bottom: 100px;

}

.picture-item {
    width: 100%;
    position: relative;
    aspect-ratio: 1; /* Maintain square aspect ratio */
}

.picture-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the container */
    display: block; /* Remove default image spacing */
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px; /* Adds 16px spacing between items */
    align-items: flex-start; /* Align items to the top of the row */
    padding: 32px;
    background-color: #302850; /* Dark03, Same dark background as header */
    color: #ccc; /* Same text color as header */
}

footer .linkedin a {
    font-size: 24px; 
    color: #ccc;
    text-decoration: none;
}

footer .linkedin a:hover {
    color: #fff;                            /* Change icon color on hover */
}


/* About Page */
/* About Body Section */
.about-body {
    max-width: 1200px;           /* Set maximum width */
    margin: 0 auto;              /* Center the section horizontally */
    padding: 50px 20px;          /* Add some padding */
}

/* Introduction Section */
.intro-section {
    display: flex;
    gap: 64px;                   /* Space between image and text */
    margin-top: 40px;
    margin-bottom: 100px;
}

.intro-image img {
    max-width: 600px;                /* Set image width */
    border-radius: 4px;         /* Rounded corners */
    object-fit: cover;           /* Ensure proper image fit */
}

.intro-text {
    max-width: 600px;
}

.greeting {
    text-transform: uppercase;
    font-size: 1rem;
    color: #888;                 /* Light gray for greeting text */
    margin-bottom: 10px;
}

.intro-text h2 {
/*     font-size: 2.5rem;
    font-weight: 400;
    color: #1d1b33; */
    margin-bottom: 20px;
}

.description {
    line-height: 1.6;
    color: #333;
    margin-bottom: 4%;
}

.btn-primary {
    display: inline-block;
    padding: 15px 25px;
    background-color: #302850;   /* Dark03 */
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    /*  Lighten button on hover */
    background-color: #574b85;
}

.btn-back {
    margin-bottom: 48px;
}

/* Skills Section */
.skills-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;   /* bottom */
    gap: 40px;                   /* Space between each capability group */
    margin-bottom: 40px;
}

.experience {
    padding-right: 100px; /* Extra spacing between title areas to other divs */
}

.skills-section > div {
    flex: 1;
    min-width: 200px;            /* Ensure minimum width */
}

.skills-section h2 {
    margin-bottom: 20px;
}



.skills-section .label{
    /* font-weight: 600; */
    color: #574b85;              /* Purple color for headings */
}


.capabilities,
.toolbox,
.off-screen{
    margin-top: 4px; /* Make the divs visually top aligned with the title */
}



.skills-section ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.skills-section ul li {
    font-size: 1rem;
    margin-bottom: 12px;
}



/* Project Page */
.project-intro {
    padding: 3% 3%;          /* Add padding for spacing */
    margin: 6% auto;              /* Center the section horizontally */
    margin-top: 0px;
    text-align: center;   
}

.featured-image img {
    width: 100%;                 /* Full width within container */
    max-width: 1000px;           /* Set maximum width for the image */
    border-radius: 10px;         /* Optional: rounded corners */
}

.title-section h1 {
    margin-bottom: 80px;
    margin-top: 20px;
}

/* Information Blocks Section */
.info-blocks {
    display: flex;
    flex-wrap: wrap;                  /* Allow wrapping on smaller screens */
    gap: 6%;                        /* Space between information blocks */
    justify-content: space-between;   /* Spread out information blocks */
    text-align: left;
}

.info-block {
    flex: 1;                          /* Allow equal space for each block */
    margin-top: 40px;
    min-width: 200px;                 /* Ensure a minimum width for blocks */
}

.info-blocks h4{
    margin-bottom: 16px;
}

/* Make the "In Short" block twice as wide */
.info-block.in-short {
    flex: 2;                          /* Make the "In Short" block twice the size */
    min-width: 320px;
}


.img-project img {
    width: 100%;                  /* Make each image take the full width of the container */
    display: block;               /* Remove any unwanted inline spacing */
    margin-bottom: 60px;          /* Add spacing between each image */
    object-fit: cover;            /* Ensures image fits properly without stretching */
}



/* Media query for mobile devices */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }
    
    .navigation a {
        margin-left: 8px;

    }
    

    footer {
        padding: 20px;
    }
    
    .image-content {
        /* padding-left: 10px; Adjust padding for smaller screens */
        padding-bottom: 10px;
    }

    .image-content img {
        max-height: unset; /* Remove the height limit for better scaling */
    }

    .intro-image img {
        width: 80vw;                /* Set image width */
    }

    .text-content h2 {
        text-align: center;
    }


    .text-content {
        text-align: center;
    }

    .intro-section {
        flex-wrap: wrap; /* Allows wrapping for smaller screens */
        gap: 32px;
    }

    .shapes {
        gap: 3%;
    }

    .shape img {
        width: 50dvw;
    }
}