/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAFAFA; /*background color */
    color: #1a1b1f;
}


/* Fonts Styles */
/* Label Style Class */
.label {
    font-family: 'Montserrat', sans-serif;  /* Use Montserrat font */
    font-size: 16px;                        /* Default size of 16px */
    font-weight: 400;                       /* Regular Montserrat */
    color: inherit;                         /* Inherit color to ensure consistency with parent */
}


/* Centering content with a max width */
.container {
    max-width: 1200px;
    margin: 0 auto;    /* Center content on large screens */
    padding: 0 20px;   /* Add padding for smaller screens */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: #302850; /* Dark03 */
    color: #ccc;
}

header .logo-title {
    color: #fff;
    display: flex;
    align-items: center;
}

header .logo-title img.logo {
    width: 24px;
    margin-right: 10px;
}


header nav a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header nav a.active {
    font-weight: bold;
    color: #fff;
}

header nav a:hover {
    color: #fff;
}

/* Hero Section */
.hero {
   
    padding: 50px 0;
}

.hero .container {
    max-width: 1200px;
    margin: 0 auto;    /* Center the container */
    padding: 0 20px;   /* Padding for smaller screens */
    text-align: left;  /* Left-align text inside the container */
}

.hero-content {
    max-width: 100%; /* Allow the content to take full width of the container */
    margin-bottom: 50px;
}

.hero-content h1 {
    font-size: 2.5rem;
    line-height: 1.4;
    color: #1d1b33;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1rem;
    color: #888;
}

.shapes {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%; /* Ensure shapes take full width */
}

.shape {
    position: relative;
    text-align: center;
}

.shape img {
    width: 150px; /* Adjust size */
}

.shape span {
    position: absolute;
    width: 100%;
    bottom: -30px;
    left: 0;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    font-family: 'Arial', sans-serif;
}

/* Project Gallery */
.gallery {
    
    padding: 50px 0;
}

/* Gallery Title */
.gallery-title {
    font-size: 2.5rem;        /* Same as hero title font size */
    line-height: 1.4;         /* Same line height */
    color: #1d1b33;           /* Same color */
    margin-bottom: 30px;      /* Add some space below the title */
    text-align: left;         /* Align title to the left */
}

.project {
    /*border-bottom: 2px solid #ddd;*/
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);*/
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth hover */
}

/* Remove underline from project card links */
.project-link {
    text-decoration: none;      /* Remove underline for the entire project card link */
    color: inherit;             /* Inherit color to keep the same text color as the original content */
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text-content {
    flex: 1;
    padding-right: 20px;
}

.text-content h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1d1b33;
}

.tags {
    margin-bottom: 15px;
}

.tag {
    display: inline-block;
    background-color: #352654;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-right: 10px;
}

.text-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.project-meta {
    display: flex;
    justify-content: space-between; /* Align date to the left and view more to the right */
    align-items: center;            /* Vertically center both items */
    font-size: 0.9rem;
    color: #333;
    margin-top: 20px;               /* Add space above the date and view more */
    padding-right: 20px;            /* Add some padding to align the view more link */
    width: 100%;                    /* Ensure the meta takes the full card width */
}

.project-meta span {
    margin-left: 0;                 /* Ensure date aligns with the card */
}

.project-meta .view-more {
    text-decoration: none;
    color: #352654;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
   /* border-bottom: 1px solid transparent;*/
}

/*.project-meta .view-more:hover {
    border-color: #f4702d;
}*/



/* Divider line */
.divider {
    border: none;
    border-bottom: 1px solid #333;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

/* Image Content */
.image-content {
    flex: 1;
    max-width: 500px;
    padding-left: 20px;
}

.image-content img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}




/* Hover Effect */
.project:hover {
    background-color: #201b350a;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    border-radius: 15px;
    border-bottom: none;
    border: 1px solid #ddd;
    */
}

.project:hover .image-content img {
    transform: scale(1.05);
}

.project:hover .view-more {
    color: #f4702d;
    font-weight: 600;
}

.project:hover .divider {
    border-bottom: 3px solid #f4702d;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: #302850; /* Dark03, Same dark background as header */
    color: #fff; /* Same text color as header */
}

footer .linkedin a {
    color: #fff;
    text-decoration: none;
}

footer .linkedin a img {
    width: 24px;
}
